<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>指定组长</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>学生姓名</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="studentInfo : ${studentGroupInfo}">
        <th scope="row" th:text="${studentInfo.studentId}"></th>
        <td th:text="${studentInfo.studentName}"></td>
        <td>
            <a th:href="@{/before/teacher/leaderSet(studentId = ${studentInfo.studentId})}">任命组长</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>