<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br/>
<h1>教师列表</h1>
<br/><br/>
<div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>姓名</th>
            <th>教职工号</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="teacher : ${teachers}">
            <th scope="row" th:text="${teacher.teacherId}"></th>
            <td th:text="${teacher.teacherName}"></td>
            <td th:text="${teacher.teacherNumber}"></td>
            <td><a th:href="@{/admin/toTeacherUpdate(id=${teacher.getTeacherId()})}">编辑</a></td>
            <td><a th:href="@{/admin/teacherDelete(id=${teacher.getTeacherId()})}">删除</a></td>
        </tr>
        </tbody>
    </table>
    <li><a>第<span th:text="${currentPage}"></span>页</a></li>
    <li><a>共<span th:text="${totalPage}"></span>页</a></li>
    <li>
        <span th:if="${currentPage} != 1">
            <a th:href="'/admin/allTeacherInfo?currentPage=' + ${currentPage - 1}">上一页</a>
        </span>
        <span th:if="${currentPage} != ${totalPage}">
            <a th:href="'/admin/allTeacherInfo?currentPage=' + ${currentPage + 1}">下一页</a>
        </span>
    </li>
</div>

<a th:href="@{/admin/toTeacherAdd}">添加</a>
<a th:href="@{/admin/home}">返回</a>
</body>
</html>