<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>管理员登录页面</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<body>
	<h3 align="center">管理员登录</h3>
		<br>
		<br>
		<form th:action="@{/admin/login}" name="myform" method="post" th:object="${aUser}"  class="form-horizontal" role="form" >
				<label class="col-sm-2 col-md-2 control-label">用户名</label>
				<input type="text" class="form-control" placeholder="请输入管理员名" th:field="*{aname}"/>
				<span th:errors="*{aname}"></span>
			<input type="password" class="form-control"
					 placeholder="请输入您的密码" th:field="*{apwd}"/>
			<span th:errors="*{apwd}"></span>

			<button type="submit"class="btn btn-success" >登录</button>
			<button type="reset" class="btn btn-primary" >重置</button>
		</form>
	<font size="6" color="red">
		<span th:text="${loginMessage}"></span> <!-- 弹出一个错误界面 -->
	</font>
</body>
</html>