<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.managesystem.managesystempackage.repository.before.student.StudentRepository">
    <select id="studentLogin" parameterType="Student" resultType="Student">
        select studentId, studentName, studentNumber, studentGroupId, isLeader from student where studentNumber = #{studentNumber} and studentPwd = #{studentPwd}
    </select>
    <insert id="studentSave" parameterType="Student">
        insert into student(studentName, studentNumber, studentPwd) values (#{studentName}, #{studentNumber}, #{studentPwd})
    </insert>
</mapper>