<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.managesystem.managesystempackage.repository.before.student.StudentRepository">
    <select id="teacherLogin" parameterType="com.managesystem.managesystempackage.entity.Teacher" resultType="com.managesystem.managesystempackage.entity.Teacher">
        select * from teacher where number = #{teacherName} and pwd = #{teacherPwd}
    </select>
    <insert id="teacherSave" parameterType="com.managesystem.managesystempackage.entity.Teacher">
        insert into teacher(number, pwd) values (#{teacherName}, #{teacherPwd})
    </insert>
</mapper>