<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br/>
<h1>可选任务列表</h1>
<br/><br/>
<div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>综设名称</th>
            <th>简介</th>
            <th>描述文件</th>
            <th>最多选择人数</th>
            <th>已选人数</th>
            <th>指导老师</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="duty : ${duties}">
            <th scope="row" th:text="${duty.dutyId}"></th>
            <td th:text="${duty.dutyName}"></td>
            <td th:text="${duty.dutySummary}"></td>
            <td>
                <a th:href="@{/before/teacher/fileDownload(fileName = ${duty.dutyDescriptionFile})}">
                    <span th:text="${duty.dutyDescriptionFile}"></span></a>
            </td>
            <td th:text="${duty.dutySize}"></td>
            <td th:text="${duty.dutySelectedNumber}"></td>
            <td th:text="${duty.teacher.teacherName}"></td>
            <td>
                <span th:if="${studentSelected} != true">
                    <a th:href="@{/before/student/dutyChoose(dutyId=${duty.dutyId}, studentId=${session.student.getStudentId()})}">选课</a>
                </span>
                <span th:unless="${studentSelected} != true">
                    <a>你已选择课程</a>
                </span>
            </td>
            <!--            <td><a th:href="@{/admin/teacherDelete(id=${teacher.getId()})}">删除</a></td>-->
        </tr>
        </tbody>
    </table>
    <li><a>第<span th:text="${currentPage}"></span>页</a></li>
    <li><a>共<span th:text="${totalPage}"></span>页</a></li>
    <li>
        <span th:if="${currentPage} != 1">
            <a th:href="'before/student/toDutyInfo?currentPage=' + ${currentPage - 1}">上一页</a>
        </span>
        <span th:if="${currentPage} != ${totalPage}">
            <a th:href="'before/student/toDutyInfo?currentPage=' + ${currentPage + 1}">下一页</a>
        </span>
    </li>
</div>

<a th:href="@{/before/student/home}">返回</a>
</body>
</html>