<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>小组成员信息</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>姓名</th>
        <th>是否为组长</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="studentInfo : ${studentGroupInfo}">
        <th scope="row" th:text="${studentInfo.studentId}"></th>
        <td th:text="${studentInfo.studentName}"></td>
        <span th:if="${studentInfo.leader}">
            <td th:text="是"></td>
        </span>
    </tr>
    </tbody>
</table>
</body>
<a th:href="@{/before/student/home}">返回</a>
</html>