<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登录页面</title>
<body>
		<h3 align="center">学生登录</h3>
		<br><br>
		<form action="before/student/login" method="post" th:object="${student}">
			<label class="col-sm-2 col-md-2 control-label">邮箱</label>
					<input type="text" class="form-control"
					 placeholder="请输入用户名"
					th:field="*{studentName}"/>
			<label class="col-sm-2 col-md-2 control-label">密码</label>
		  				<input type="password" class="form-control"
					 placeholder="请输入您的密码" th:field="*{studentPwd}"/>
					 <span th:errors="*{studentPwd}"></span>
					<button type="submit"class="btn btn-success" >登录</button>
					<button type="reset" class="btn btn-primary" >重置</button>

					<font size="6" color="red">
						<span th:text="${loginMessage}"></span>
					</font>
		</form>
		<a th:href="@{before/student/toRegister}">没有账号？点此注册</a>
</body>
</html>