*{
    font-family: 宋体;
}
a:hover{
    text-decoration: none;
    color: rgba(38,43,21,0.87);
}
a:visited{
    text-decoration: none;
    color: rgba(38,43,21,0.87);
}
a:link{
    text-decoration: none;
    color: rgba(38,43,21,0.87);
}
a:active{
    text-decoration: none;
    color: rgba(38,43,21,0.87);
}
.el-header, .el-footer {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
}

.el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
}

.el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    line-height: 160px;
}

body > .el-container {
    margin-bottom: 40px;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
    line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
    line-height: 320px;
}

.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
    text-align: center;
    display: flex;
    align-items: center;
}
.el-icon-arrow-down {
    font-size: 12px;
}
.dropdown{
    float: right;

}

.dropdownimg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
}

.asidewelcome{
    font-size: 30px;
}

.box-card {
    display: block;
    width: 480px;
    height: 200px;
    margin-bottom: 20px;
}

.leftcard{
    margin-left: 150px;
}
.rightcard{
    float: right;
    margin-right: 150px;
}
.centercard{
    margin: 20px auto;
}

.textcard:hover{
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
}
.text {
    font-size: 14px;
}

.item {
    margin-bottom: 18px;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}
.clearfix:after {
    clear: both
}
